.http-preloader {
  $spinner-color: #ff000d;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;

  &_shown-forced,
  &_shown {
    display: block;
  }

  &__backdrop {
    @include fadeIn();
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__spinner {
    position: absolute;
    left: calc(50% - 36px);
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 72px;
    height: 72px;
    border: 12px solid rgba($spinner-color, 0.25);
    border-top-color: $spinner-color;
    border-radius: 50%;
    animation: loader-rotate 1s linear infinite;
  }

  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
